<a href="https://colab.research.google.com/github/ncphung1405/bai1/blob/main/thuc_hanh_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

THỰC HÀNH LAMBDA - APPLY

1. Sử dụng bộ dữ liệu baseball.csv

In [38]:
import pandas as pd

df = pd.read_csv("haha.csv")
df.head()

      id     player  year  stint team  lg  ...   so  ibb  hbp   sh   sf  gidp
0  88641  womacto01  2006      2  CHN  NL  ...  4.0  0.0  0.0  3.0  0.0   0.0
1  88643  schilcu01  2006      1  BOS  AL  ...  1.0  0.0  0.0  0.0  0.0   0.0
2  88645  myersmi01  2006      1  NYA  AL  ...  0.0  0.0  0.0  0.0  0.0   0.0
3  88649  helliri01  2006      1  MIL  NL  ...  2.0  0.0  0.0  0.0  0.0   0.0
4  88650  johnsra05  2006      1  NYA  AL  ...  4.0  0.0  0.0  0.0  0.0   0.0

[5 rows x 23 columns]

2. Hãy xây dựng hàm lambda theo công thức sau: $\frac{x + log(x)}{\sqrt(x)}$

In [37]:
#Code
remainder = lambda x: (x + np.log(x))/np.sqrt(x)

print(remainder(5))

2.9558304930533903

3. Hãy thực thi hàm apply với lambda ở trên theo chiều ngang và chiều dọc đối với 1 Series do bạn chọn từ data frame ở bước 1

In [39]:
#Code

df1 = df['ab'].apply(lambda x : remainder(x))
df1.head()

0    7.624311
1    1.904343
2        -inf
3    2.366335
4    3.180972
Name: ab, dtype: float64

4. Hãy thực thi hàm apply với lambda ở trên theo chiều ngang và chiều dọc với 1 nhóm cột (hoặc có thể là toàn bộ) của data frame ở bước 1

In [40]:
#Code

a = df[['sb','cs']].apply(lambda x : remainder(x), axis = 0)
b = df[['sb','cs']].apply(lambda x : remainder(x), axis = 1)
print(a)
print(b)

          sb   cs
0   1.000000  1.0
1       -inf -inf
2       -inf -inf
3       -inf -inf
4       -inf -inf
..       ...  ...
95      -inf -inf
96      -inf -inf
97  3.180972  1.0
98  2.366335 -inf
99      -inf -inf

[100 rows x 2 columns]
          sb   cs
0   1.000000  1.0
1       -inf -inf
2       -inf -inf
3       -inf -inf
4       -inf -inf
..       ...  ...
95      -inf -inf
96      -inf -inf
97  3.180972  1.0
98  2.366335 -inf
99      -inf -inf

[100 rows x 2 columns]

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:726: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

THỰC HÀNH APPLY VÀ HÀM TỰ XÂY DỰNG

Trong thực tế không phải lúc nào cũng sử dụng lambda với apply, mà có thể sử dụng apply với các hàm có sẵn khác hoặc do lập trình viên tự xây dựng.

1. Hãy áp dụng nhóm hàm sum, mean, sqrt, log của thư viện numpy cho data frame ở trên theo chiều ngang và chiều dọc

In [41]:
#Code

a1 = df[['sb','cs']].apply(lambda x : np.sum(x), axis = 0)
a2 = df[['sb','cs']].apply(lambda x : np.sum(x), axis = 1)
b1 = df[['sb','cs']].apply(lambda x : np.mean(x), axis = 0)
b2 = df[['sb','cs']].apply(lambda x : np.mean(x), axis = 1)
c1 = df[['sb','cs']].apply(lambda x : np.sqrt(x), axis = 0)
c2 = df[['sb','cs']].apply(lambda x : np.sqrt(x), axis = 1)
d1 = df[['sb','cs']].apply(lambda x : np.log(x), axis = 0)
d2 = df[['sb','cs']].apply(lambda x : np.log(x), axis = 1)
print(a1)
print(a2)
print(b1)
print(b2)
print(c1)
print(c2)
print(d1)
print(d2)

sb    138.0
cs     46.0
dtype: float64
0     2.0
1     0.0
2     0.0
3     0.0
4     0.0
     ...
95    0.0
96    0.0
97    7.0
98    3.0
99    0.0
Length: 100, dtype: float64
sb    1.38
cs    0.46
dtype: float64
0     1.0
1     0.0
2     0.0
3     0.0
4     0.0
     ...
95    0.0
96    0.0
97    3.5
98    1.5
99    0.0
Length: 100, dtype: float64
          sb   cs
0   1.000000  1.0
1   0.000000  0.0
2   0.000000  0.0
3   0.000000  0.0
4   0.000000  0.0
..       ...  ...
95  0.000000  0.0
96  0.000000  0.0
97  2.449490  1.0
98  1.732051  0.0
99  0.000000  0.0

[100 rows x 2 columns]
          sb   cs
0   1.000000  1.0
1   0.000000  0.0
2   0.000000  0.0
3   0.000000  0.0
4   0.000000  0.0
..       ...  ...
95  0.000000  0.0
96  0.000000  0.0
97  2.449490  1.0
98  1.732051  0.0
99  0.000000  0.0

[100 rows x 2 columns]
          sb   cs
0   0.000000  0.0
1       -inf -inf
2       -inf -inf
3       -inf -inf
4       -inf -inf
..       ...  ...
95      -inf -inf
96      -inf -inf
97  1.791759  0.0
98  1.098612 -inf
99      -inf -inf

[100 rows x 2 columns]
          sb   cs
0   0.000000  0.0
1       -inf -inf
2       -inf -inf
3       -inf -inf
4       -inf -inf
..       ...  ...
95      -inf -inf
96      -inf -inf
97  1.791759  0.0
98  1.098612 -inf
99      -inf -inf

[100 rows x 2 columns]

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:726: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

2. Hãy xây dựng một hàm có tên là my_function có tham số đầu vào là x. Phương pháp tính toán của hàm như sau:
 (i) Nếu x >0  thì trả về log10(x); (ii) Nếu x <= 0  thì trả về $e^{x}$

In [42]:
#Code
my_function = lambda x: np.log10(x) if x>0 else np.exp(x)
my_function(-1)

0.36787944117144233

3. Hãy sử dụng hàm apply để gọi my_function áp dụng cho data frame ở bước 1 ở trên

In [44]:

df['so'].apply(lambda x: my_function(x))

0     0.602060
1     0.000000
2     1.000000
3     0.301030
4     0.602060
        ...
95    1.000000
96    1.000000
97    1.869232
98    1.477121
99    0.477121
Name: so, Length: 100, dtype: float64